.fullArticle {
	--navbar-height: 56px;
	box-sizing: border-box;
	width: 100%;
	padding: 4px 16px 8px 12px;
	text-align: left;
	font-size: var(--font-size-2);
}

.fullArticle > img {
	max-width: 400px;
	width: 50%;
	min-width: 200px;
	max-height: 400px;
	margin: 0 24px 12px 0;
	float: left;
}

.topBar {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	line-height: 32px;
	font-size: var(--font-size-1);
	color: var(--font-grey);
	font-weight: 500;
	z-index: 1;
}

.topBar > a {
	color: var(--font-grey);
}

h2 {
	font-family: var(--font-family-bold);
	margin: 4px 0 20px 0;
}

.fullArticle > .description {
	font-weight: 600;
	line-height: 24px;
}

.dot {
	opacity: 0.5;
	line-height: 28px;
	margin: 0 8px 4px 8px;
}

@media screen and (max-width: 480px) {
	.fullArticle > img {
		max-width: inherit;
		width: 100%;
		margin: 0 0 16px 0;
	}
}