.navBar {
	position: fixed;
	width: 100%;
	--navbar-height: 44px;
	background-color: var(--blue-background);
	margin-bottom: 16px;
	border-bottom: 2px solid var(--blue-border);
	z-index: 10;
}

.navBarContent {
	max-width: var(--content-width-max);
	min-width: var(--content-width-min);
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	padding: 0;
	justify-content: space-between;
	margin: auto;
}

.mainLogo, .aboutLink {
	text-decoration: none;
	color: black;
}

.mainLogo {
	display: flex;
	font-family: var(--font-family-bold);
	font-size: var(--font-size-3);
	font-weight: 600;
	line-height: 32px;
	margin-left: 32px;
}

.mainLogo > img {
	height: 32px;
	width: 32px;
	margin-right: 8px;
}

.burgerMenuIcon {
	display: none;
	background-color: inherit;
	border: 0;
	padding-left: 8px;
	height: 44px;
	width: 44px;
}

.burgerMenuIcon > img {
	height: 44px;
	width: 44px;
}


.aboutLink {
	line-height: var(--navbar-height);
	font-size: var(--font-size-2);
	padding: 0 32px;
	font-weight: 600;
}

@media screen and (max-width: 1200px) {
	.burgerMenuIcon {
		display: block;
	}
}

@media screen and (max-width: 800px) {
	.mainLogo {
		font-size: var(--font-size-2);
		line-height: 26px;
	}

	.mainLogo > img {
		height: 26px;
		width: 26px;
	}

	.aboutLink {
		font-size: var(--font-size-1);
		line-height: 36px;
	}
}