.articles {
	width: 100%;
	max-width: var(--content-width-max);
	padding: 0 0 0 16px;
	box-sizing: border-box;
}

.relativeContainer {
	position: relative;
}

.subjectDrawer {
	position: fixed;
	top: 44px;
	transition: transform 0.5s ease-in-out;
	z-index: 9;
}

.articleBox {
	box-sizing: border-box;
	max-width: 100vw;
	padding: 8px 0 0 calc(var(--drawer-width) + 8px);
}

@media screen and (max-width: 1200px) {
	.subjectDrawer {
		transform: translateY(calc(-1 * var(--drawer-height) - var(--header-height)));
	}

	.subjectDrawerOpen {
		transform: translateY(0);
	}

	.articleBox {
		padding: 8px 0 0 0;
	}
}