:root {
	--font-family: 'Roboto', sans-serif;
	--font-family-bold: 'RobotoBold', sans-serif;

	--color-main: #0D0C43;
	--color-cta: #00B2C8;

	color: var(--color-main);

	--blue-background: #8ed8e3;
	--blue-border: #52CBCE75;
	--blue-main: #3EADAD;
	--blue-light: #52CBCE;
	--yellow-dark: #E0BE70;
	--yellow-main: #F9D780;
	--yellow-light: #F9E9C7;
	--black: #130303;

	--border-radius: 4px;

	--font-size-0: 14px;
	--font-size-1: 16px;
	--font-size-2: 18px;
	--font-size-3: 21px;
	--font-size-4: 24px;
	--font-size-5: 32px;
	--font-size-6: 40px;
	--font-size-7: 48px;

	--font-color-ligth: #7A7998;
	--font-grey: #757575;

	--content-width-max: 1400px;
	--content-width-min: 340px;

	--drawer-width: 200px;
	--drawer-height: 280px;
	--header-height: 48px;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), url(./Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'RobotoBold';
	src: local('RobotoBold'), url(./Roboto-Bold.ttf) format('truetype');
}

body {
	margin: 0;
	font-family: var(--font-family);
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	text-align: center;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	width: 100%;
	margin: auto;
}

.pageContent {
	flex-grow: 1;
	width: 100%;
	max-width: var(--content-width-max);
	margin: 44px auto 12px auto;
}

button {
	cursor: pointer;
}