:root {
	--font-family: 'SofioPro', serif;

	--color-main: #0D0C43;
	--color-cta: #00B2C8;

	color: var(--color-main);

	--blue-background: #52CBCE50;
	--blue-border: #52CBCE75;
	--blue-main: #3EADAD;
	--blue-light: #52CBCE;
	--yellow-dark: #E0BE70;
	--yellow-main: #F9D780;
	--yellow-light: #F9E9C7;
	--black: #130303;
	--red: #FF3C38;
	--blue: #274690;


	--font-size-0: 14px;
	--font-size-1: 16px;
	--font-size-2: 18px;
	--font-size-3: 21px;
	--font-size-4: 24px;
	--font-size-5: 32px;
	--font-size-6: 40px;
	--font-size-7: 48px;

	--font-color-ligth: #7A7998;
}

@font-face {
	font-family: 'SofioPro';
	src: local('SofioPro'), url(./SofiaProRegular.otf) format('opentype');
}

body {
	margin: 0;
	font-family: SofioPro, serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}